<!--<button onclick = "selectAll();" class = "left_order">Select All</button>-->
<button onclick = "clearSelection();" class = "right_order">Clear Selection</button>
<table>
    <thead class = "bg-blue c-white">
        <tr>
            <th>Qty</th>
            <th>Item</th>
            <th>Cost</th>
            <th>Amount</th>
            <th>Service</th>
        </tr>
    </thead>
    <tbody id = "order_content">
    </tbody>
</table>