<table class = "w100 h100">
  <tbody id = "menu_control_table">
    <tr>
      <td colspan="2" class="border-2px"><button class = "button w100 h100 black white-font font" style = "cursor: pointer;"  id = "transaction" onclick = "newTransaction();" accesskey="N">NEW TRANSACTION</button></td>
    </tr>
    <tr>
      <td class="border-2px"><button class = "button w100 h100 gray font" style = "cursor: pointer;" id = "quantity" disabled onclick = "showQuantity();">QUANTITY</button></td>
      <td class="border-2px"><button class = "button w100 h100 gray font" style = "cursor: pointer;" id = "special" disabled onclick = "showForm('div16');">SPECIAL REQUEST</button></td>
      <!--<td class="border-2px"><button class = "button w100 h100 gray font" style = "cursor: pointer;" id = "customer" disabled onclick = "showCustomer();">CUSTOMER</button></td>-->
    </tr>
    <tr>
      <td class="border-2px"><button class = "button w100 h100 gray font" style = "cursor: pointer;" id = "discount" disabled onclick = "showDiscount('div17');">DISCOUNT</button></td>
      <td class="border-2px"><button class = "button w100 h100 gray font" style = "cursor: pointer;" id = "dinein" disabled onclick = "showForm('div13');">DINE IN/ TAKEOUT</button></td>
    </tr>
    <tr>
      <td class="border-2px"><button class = "button w100 h100 gray font" style = "cursor: pointer;" id = "print" disabled onclick="printBill()">PRINT BILL</button></td>
      <td class="border-2px"><button class = "button w100 h100 black white-font font" style = "cursor: pointer;" id = "reprint" onclick = "showForm('div29');">RE-PRINT</button></td>
    </tr>
    <tr>
      <td colspan="2" class="border-2px"><button class = "button w100 h100 gray font" style = "cursor: pointer;" id = "settle" disabled onclick = "showTender();">SETTLE</button></td>
    </tr>
    <tr>
      <td colspan="2">
        <button id = "manager" class = "button w100 h100 blue white-font font border-2px" accesskey="M" onclick = "openLoginManager();"><i class="fas fa-user-cog"></i> <u>M</u>anager</button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button id = "logout" onclick = "showForm('div9');" class = "button w100 h100 red white-font font border-2px" accesskey="L"><i class="fas fa-sign-out-alt"></i> <u>L</u>ogout</button>
      </td>
    </tr>
  </tbody>
</table>