<table width="auto" height="100%" id = "manager-menu" style = "display: none;">

  <tbody>
    <tr>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_suspended_transaction" onclick = "suspendTransaction();">Suspend Transaction</td>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_recall_transaction" onclick = "showSuspendedTransaction('div22');">Recall Transaction</td>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_price_override" onclick = "showForm('div32');">Price Override</td>
      <td class = "grid-4 black white-font center-text border-2px" onClick = "closeManagerMenu();">Close Manager Menu</td>
    </tr>
    <tr>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_void_current_transaction" onclick = "voidTransaction();">Void Current Transaction</td>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_refund" onclick = "showForm('div20');">Refund</td>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_item_void" onclick = "itemVoid();">Item Void</td>
    </tr>
    <tr>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_x_reading" onclick = "showForm('div26');">X-Reading</td>
      <td class = "grid-4 black white-font center-text border-2px" id="cashier_z_reading" onclick="showZRead();">Z-Reading</td>
    </tr>
  </tbody>

  <!-- <tbody>
  <tr>
    <td class = "grid-4 white white-hover center-text border-2px" onClick = "closeManagerMenu();">Close Manager Menu</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_cash_fund" onclick = "showForm('div18');">Cash Fund</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_recall_transaction" onclick = "showSuspendedTransaction('div22');">Recall Transaction</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_price_override" onclick = "showForm('div32');">Price Override</td>
  </tr>
  <tr>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_refund" onclick = "showForm('div20');">Refund</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_cash_withdrawal" onclick = "showForm('div19');">Cash Withdrawal</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_x_reading" onclick = "showForm('div26');">X-Reading</td>
  </tr>
  <tr>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_suspended_transaction" onclick = "suspendTransaction();">Suspend Transaction</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_void_current_transaction" onclick = "voidTransaction();">Void Current Transaction</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_y_reading" onclick = "showForm('div27');">Y-Reading</td>
  </tr>
  <tr>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_item_void" onclick = "itemVoid();">Item Void</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_electric_journal" onclick = "showForm('div25');">Electronic Journal</td>
    <td class = "grid-4 white white-hover center-text border-2px" id="cashier_z_reading" onclick="showZRead();">Z-Reading</td>
  </tr>
  </tbody>  -->
</table>
<table width="auto" height="auto" class = "categories-menu" style = "display: none;">
  <tbody id = "categories-menu">
  </tbody>
</table>
<table width="auto" height="auto" class = "products-menu" style = "display: none;">
  <tbody id = "products-menu">
  </tbody>
</table>