<button class = "bg-green c-white" id = "new_transaction">New Transaction</button>
<button class = "bg-green c-white" id = "quantity" disabled>Quantity</button>
<button class = "bg-green c-white" id = "special_request" disabled>Special Request</button>
<button class = "bg-green c-white" id = "discount" disabled>Discount</button>
<button class = "bg-green c-white" id = "service_type" disabled>Dine in/Take out</button>
<button class = "bg-green c-white" onclick = "showReprint();">Re-print</button>
<button class = "bg-green c-white" id = "print_bill" disabled>Print Bill</button>
<button class = "bg-green c-white" id = "settle" disabled>Settle</button>
<button class = "bg-blue c-white special" id = "manager_button" onclick = "openManager();">Manager</button>
<button class = "bg-red c-white special" onclick = "logout();">Logout</button>