<div class="row">
    <h3 class="box-title">
        <div class="col-md-2">
            <button class="btn btn-block btn-primary waves-effect waves-light" id="addModal">
                <i class="fa fa-plus m-r-5"></i>
                Add
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-block btn-primary waves-effect waves-light" id="receiveModal">
                <i class="fa fa-eye m-r-5"></i>
                Receive Selected Items
            </button>
        </div>

        <br/><br/>

        <div class="table-responsive">
            <table id="datatable" class="table" role="grid" aria-describedby="datatable_info">
                <caption>Double click the item row to select items</caption>
                <thead>
                    <tr>
                        <!-- <th>SELECT</th> -->
                        <th>ID</th>
                        <th>IMG</th>
                        <th>Short Desc</th>
                        <th>Long Desc</th>
                        <th>Category ID</th>
                        <th>Prod Grp ID</th>
                        <th>Menu Code</th>
                        <th>Menu Name</th>
                        <th>Cost</th>
                        <th>SRP</th>
                        <th>Qty</th>
                        <!-- <th>Active Tag</th>
                                                            <th>Print Label Sticker Tag</th>
                                                            <th>Vatable Tag</th>
                                                            <th>Print Separation Slip Tag</th> -->
                        <th>Action</th>
                        <th>Journal</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </h3>
</div>

<!-- /.modal -->
<div id="formModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Form</h4>
                </div>
                <div
                    class="modal-body">
                    <!--Hidden Inputs-->
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="modifyId" value="">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="action" value="add">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username"><input type="checkbox" id="menu_code_check">
                                    <small>Manual Input:
                                    </small>
                                    Menu Code
                                </label>
                                <input type="text" class="form-control" required readonly id="code" name="code">
                            </div>
                            <div class="form-group">
                                <label for="Username">Short Description</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ti-text"></i>
                                    </div>
                                    <input type="text" class="form-control" required name="short_descp" maxlength="8">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="Menu Name">Menu Name</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ti-text"></i>
                                    </div>
                                    <input type="text" class="form-control" required name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Username">Long Description</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ti-text"></i>
                                    </div>
                                    <input type="text" class="form-control" required name="long_descp" maxlength="15">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Username">Category</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ti-quote-left"></i>
                                    </div>
                                    <select class="form-control" required name="category_id" id="category_id"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Username">Product Groups</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ti-quote-left"></i>
                                    </div>
                                    <select class="form-control" required name="product_group_id" id="product_group_id"></select>
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="Cost">COST</label>
                              <div class="input-group">
                                <div class="input-group-addon"><i class="ti-money"></i></div>
                                <input type="number" min="0" step="0.01" class="form-control" required name="inventory_cost">
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="SRP">SRP</label>
                              <div class="input-group">
                                <div class="input-group-addon"><i class="ti-money"></i></div>
                                <input type="number" min="0" step="0.01" class="form-control" required name="cost">
                              </div>
                            </div>

                           
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="exampleInputpwd2">Branch</label>
                            <div class="input-group">
                              <div class="input-group-addon"><i class="ti-lock"></i></div>
                              <select class="form-control" required name="branch" id="branch">
            
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="Username">Active Tag</label>
                            <div class="input-group">
                              <div class="input-group-addon"><i class="ti-check"></i></div>
                              <select class="form-control" required name="active_tag">
                                <option>YES</option>
                                <option>NO</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="Username">Print Label Sticker Tag</label>
                            <div class="input-group">
                              <div class="input-group-addon"><i class="ti-text"></i></div>
                              <select class="form-control" required name="print_label_sticker_tag">
                                <option>NO</option>
                                <option>YES</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="Cost">STOCKS</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="ti-quote-left"></i>
                                </div>
                              <input type="number" min="0" class="form-control" required name="quantity">
                            </div>
                          </div>
                          
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="Username">Vatable Tag</label>
                            <div class="input-group">
                              <div class="input-group-addon"><i class="ti-text"></i></div>
                              <select class="form-control" required name="vatable_tag">
                                <option>NO</option>
                                <option>YES</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="Username">Print Separation Slip Tag</label>
                            <div class="input-group">
                              <div class="input-group-addon"><i class="ti-text"></i></div>
                              <select class="form-control" required name="slip_tag">
                                <option>NO</option>
                                <option>YES</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="Username">Image File</label>
                            <div class="input-group">
                              <div class="input-group-addon"><i class="ti-text"></i></div>
                              <input type="file" class="form-control" name="image_file" id="image_file">
                            </div>
                          </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="deleteButton">Delete</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Save
                                                            Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<!--Inventory Modal-->
<div id="inventoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Inventory</h4>
                </div>
                <div
                    class="modal-body">
                    <!--Hidden Inputs-->
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="modifyId" value="">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="hidden" class="form-control" required name="action" value="add">
                    </div>
                    <!--Hidden Inputs-->
                    <div class="table-responsive">
                        <table id="inventoryTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
                            <thead>
                                <tr>
                                    <th>Menu ID</th>
                                    <th>Order ID</th>
                                    <th>Beg</th>
                                    <th>Rec</th>
                                    <th>Sales</th>
                                    <th>Refund</th>
                                    <th>Actual</th>
                                    <th>End Stocks</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End Inventory Modal-->

<!--Input Stocks-->
<div id="inputStocksModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">ITEM ID:
                    <label id="itemID"></label>
                </h4>
            </div>
            <div
                class="modal-body">
                <!--Hidden Inputs-->
                <div class="form-group has-feedback">
                    <input type="hidden" class="form-control" required id="current_qty" value="">
                </div>

                <!--Hidden Inputs-->
                <form id="stocksForm">
                    <div class="form-group">
                        <label for="exampleInputpwd2">Type</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="ti-lock"></i>
                            </div>
                            <select class="form-control" required name="type" id="type">
                                <option>ACTUAL COUNT</option>
                                <option>RECEIVING</option>
                                <!-- <option>REFUND</option>
                                                                                <option>SALES</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Cost">Input Stocks</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="ti-money"></i>
                            </div>
                            <input type="number" min="0" step="0.01" class="form-control" required name="stocks" id="stocks">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Cost">Variance</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="ti-money"></i>
                            </div>
                            <input type="text" class="form-control" disabled readonly name="variance" id="variance">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="submitStocks()">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<!--End Input Stocks-->


<!-- /.modal -->
<div id="receiving" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Process Item: <select id="processName">
                        <option>RECEIVING</option>
                        <!--<option>ACTUAL</option>-->
                        <option>SPOILAGE</option>
                    </select>   Supplier: <select id="supplier">
                    </select>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="goToSupplier()">Add Supplier</button></h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                    <table id="itemSelectedTable" class="table" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Long Description</td>
                                <td>QTY</td>
                                <td>Value</td>
                                <!-- <td>Variance</td> -->
                            </tr>
                        </thead>
                    </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="receiveItems()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>