<br>
<form id = "reprint_form">
    <h1>Reprint</h1>
    <input type = "number" id = "reprint_transaction_number" placeholder = "EG: 000001" />
    <br>
    <br>
    <button class = "bg-blue c-white">Reprint</button>
    <button type = "button" class = "bg-red c-white" onclick = "hideReprint();">Cancel</button>
</form>