
  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: rgba(180, 180, 180, 1);
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: rgba(35, 132, 197, 1);
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: rgba(244, 67, 54, 1);
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    overflow: hidden;
}

* {
    touch-action: manipulation;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 1.4fr 0.6fr 1fr;
    grid-template-rows: repeat(3, 0.5fr) 1.5fr repeat(2, 1.25fr) repeat(3, 1.2fr) 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}
        
.div1 { grid-area: 1 / 1 / 3 / 11; }
.div2 { grid-area: 3 / 1 / 4 / 11; border-top: double; border-bottom: double; }
.div3 { grid-area: 4 / 1 / 10 / 7; background: rgba(35, 132, 197, 1);}
.div3::-webkit-scrollbar {
    width: 10px;
}
.div3::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 100px;
}
.div3::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 1);
    border-radius: 100px;
}
.background { grid-area: 4 / 1 / 10 / 7; background: url(background.jpg); background-size: 100% 100%; background-repeat: no-repeat; z-index: 1;}
.background::-webkit-scrollbar {
    width: 10px;
}
.background::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 100px;
}
.background::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 1);
    border-radius: 100px;
}
.div4 { grid-area: 10 / 1 / 11 / 11; border-top: 2px solid black; }
.div5 { grid-area: 4 / 7 / 5 / 11; }
.div6 { grid-area: 5 / 7 / 10 / 9; overflow-y: scroll;}
.div6::-webkit-scrollbar {
    width: 10px;
}
.div6::-webkit-scrollbar-track {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 100px;
}
.div6::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 1);
    border-radius: 100px;
}
.div7 { grid-area: 5 / 9 / 10 / 11; }
.div8 { grid-area: 4 / 3 / 10 / 7; z-index: 90; }
.div9 { grid-area: 4 / 4 / 6 / 8; z-index: 90; }
.div10 { grid-area: 4 / 4 / 7 / 8; z-index: 99; }
.div11 { grid-area: 1 / 1 / 11 / 11; z-index: 50;}
.div12 { grid-area: 3 / 4 / 9 / 8; z-index: 90; }
.div13 { grid-area: 4 / 4 / 6 / 8; z-index: 90; }
.div15 { grid-area: 4 / 2 / 9 / 10; z-index: 90; margin: 0; }
.div16 { grid-area: 4 / 4 / 9 / 8; z-index: 90; }
.div17 { grid-area: 4 / 4 / 9 / 8; z-index: 90; }
.div18 { grid-area: 4 / 4 / 8 / 8; z-index: 90; }
.div19 { grid-area: 4 / 4 / 8 / 8; z-index: 90; }
.div20 { grid-area: 4 / 2 / 8 / 10; z-index: 90; margin: 0; }
.div21 { grid-area: 4 / 2 / 8 / 10; z-index: 90; margin: 0; }
.div22 { grid-area: 4 / 2 / 8 / 10; z-index: 90; margin: 0; }
.div23 { grid-area: 4 / 3 / 8 / 8; z-index: 90; }
.div24 { grid-area: 3 / 3 / 9 / 8; z-index: 90; }
.div25 { grid-area: 4 / 3 / 9 / 8; z-index: 90; }
.div26 { grid-area: 4 / 4 / 7 / 8; z-index: 90; }
.div27 { grid-area: 4 / 3 / 9 / 8; z-index: 90; }
.div28 { grid-area: 4 / 3 / 9 / 8; z-index: 90; }
.div29 { grid-area: 4 / 3 / 9 / 8; z-index: 90; }
.div30 { grid-area: 4 / 4 / 6 / 8; z-index: 90; }
.div31 { grid-area: 4 / 4 / 6 / 8; z-index: 90; }
.div32 { grid-area: 4 / 4 / 8 / 8; z-index: 90; }
.div33 { grid-area: 4 / 4 / 7 / 8; z-index: 90; }
.div34 { grid-area: 3 / 4 / 10 / 8; z-index: 90; }

.grid-4 {
    width: 16.5vw !important;
    height: 18.2vh !important;
    font-size: 2em;
    cursor: pointer;
}

.grid-3 {
    width: 22vw !important;
    height: 24vh !important;
    font-size: 3em;
    cursor: pointer;
}

.grid-2 {
    width: 35vw !important;
    height: 37.5vh !important;
    font-size: 4em;
    cursor: pointer;
}

.grid {
    background: rgba(50, 50, 50, 0.5);
    border: none;
    outline: none;
    font-size: 0.75em;
    cursor: pointer;
}

.grid:hover {
    background: rgba(50, 50, 50, 0.7);
}

.back {
    cursor: pointer;
    color: rgba(250, 250, 250, 1);
    border: none;
    transition-duration: 0.4s;
}

.back:hover {
    color: rgba(250, 50, 50, 1);
}

.innerdiv {
    float: left;
}

.w100 {
    width: 100% !important;
}

.w90 {
    width: 90% !important;
}

.w80 {
    width: 80% !important;
}

.w60 {
    width: 60% !important;
}

.w59 {
    width: 59% !important;
}

.w50 {
    width: 50% !important;
}

.w40 {
    width: 40% !important;
}

.w37 {
    width: 37% !important;
}

.w30 {
    width: 30% !important;
}

.w20 {
    width: 20% !important;
}

.h100 {
    height: 100% !important;
}

.h90 {
    height: 90% !important;
}

.h80 {
    height: 80% !important;
}

.h70 {
    height: 70% !important;
}

.h60 {
    height: 60% !important;
}

.h50 {
    height: 50% !important;
}

.h40 {
    height: 40% !important;
}

.h30 {
    height: 30% !important;
}

.h20 {
    height: 20% !important;
}

.h13 {
    height: 13% !important;
}

.h10 {
    height: 10% !important;
}

.h5 {
    height: 7% !important;
}

.border-white {
    border: 1px solid white !important;
}

.border-1px {
    border: 1px solid black !important;
}

.border-2px {
    border: 2px solid black !important;
}

.border-right-2px {
    border-right: 2px solid black !important;
}

.border-top-2px {
    border-top: 2px solid black !important;
}

.left-text {
    text-align: left !important;
}

.center-text {
    text-align: center !important;
}

.right-text {
    text-align: right !important;
}

.input-text {
    float: left;
    height: 40px;
    padding-left: 10px;
    background: rgba(50, 50, 50, 0.3);
    outline: none;
    border: none;
    border-bottom: 5px solid rgba(50, 50, 50, 0.5);
    transition-duration: 0.4s;
}

.input-text::placeholder {
    color: rgba(250, 250, 250, 1);
}

.input-text:focus {
    background: rgba(250, 250, 250, 1);
    color: rgba(50, 50, 50, 1);
    border: 3px solid rgba(50, 200, 50, 0.5);
}

.input-text:focus::placeholder {
    color: rgba(50, 50, 50, 1);
}

.button {
    height: 40px;
    background: rgba(0, 200, 200, 0);
    border: none;
    font-size: 1.5em;
    float:left;
    margin: 0;
}

.manager-button {
    height: 40px;
    background: rgba(0, 200, 200, 0);
    border: 2px solid black;
    font-size: 1.5em;
    float:left;
}

.button:focus, .button-page:focus {
    outline: rgba(200, 200, 50, 1) solid 5px;
}

.button-page {
    height: auto;
    width: auto;
    font-size: 1em;
    float: left;
}

.button-disabled {
    height: 40px;
    background: rgba(0, 200, 200, 0);
    border: none;
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
    float:left;
}

.button:hover:enabled {
    background: rgba(180, 180, 180, 1) !important;
}

.button-page:hover:enabled {
    transform: scale(110%, 110%);
    border: 1px solid black;
    background: rgba(250, 250, 250, 1);
}

.right-button {
    float: right;
}

.right-button:hover:enabled {
    background: rgba(250, 250, 250, 1);
}

.transparent {
    background: rgba(0, 0, 0, 0);
}

.transparent-with-hover {
    background: rgba(0, 0, 0, 0);
}

.transparent-50 {
    background: rgba(0, 0, 0, 0.5);
}

.green {
    background: rgba(76, 175, 80, 1);
    transition-duration: 0.4s;
    cursor: pointer;
}

.red {
    background: rgba(244, 67, 54, 1);
    transition-duration: 0.4s;
    cursor: pointer;
}

.gray {
    background: rgba(180, 180, 180, 1);
    transition-duration: 0.4s;
}

.grey {
    background: rgba(180, 180, 180, 1);
    transition-duration: 0.4s;
}

.black {
    background: rgba(30, 30, 30, 1) !important;
    transition-duration: 0.4s;
}

.black-no-hover {
    background: rgba(30, 30, 30, 1) !important;
}

.white {
    background: rgba(250, 250, 250, 1);
    transition-duration: 0.4s;
}

.blue {
    background: rgba(0, 140, 186) !important;
    transition-duration: 0.4s;
    cursor: pointer;
}

.dark-washed-green {
    background: rgba(35, 132, 197, 1) !important;
    transition-duration: 0.4s;
}

.black-font {
    color: rgba(0, 0, 0, 1) !important;
}

.red-font {
    color: rgba(244, 67, 54, 1) !important;
}

.green-font {
    color: rgba(76, 200, 80, 1) !important;
}

.gray-font {
    color: rgba(180, 180, 180, 1) !important;
}

.white-font {
    color: rgba(250, 250, 250, 1) !important;
}

.placeholder::placeholder {
    color: rgba(50, 200, 50, 1);
}

.transparent-with-hover:hover:enabled {
    background: rgba(250, 250, 250, 1) !important;
}

.green:hover:enabled {
    background: rgba(255, 255, 255, 1) !important;
    border-color: rgba(76, 175, 80, 1) !important;
    color: rgba(76, 175, 80, 1) !important;
}

.red:hover:enabled {
    background: rgba(255, 255, 255, 1) !important;
    border-color: rgba(244, 67, 54, 1) !important;
    color: rgba(244, 67, 54, 1) !important;
}

.blue:hover:enabled {
    background: rgba(255, 255, 255, 1) !important;
    border-color: rgba(0, 140, 186, 1) !important;
    color: rgba(0, 140, 186, 1) !important;
}

.grey:hover:enabled {
    background: rgba(250, 250, 250, 1) !important;
}

.black:hover:enabled {
    background: rgba(250, 250, 250, 1) !important;
    border-color: rgba(30, 30, 30, 1) !important;
    color: rgba(30, 30, 30, 1) !important;
}

.dark-washed-green:hover:enabled {
    background: rgba(250, 250, 250, 1) !important;
    border-color: rgba(35, 132, 197, 1) !important;
    color: rgba(35, 132, 197, 1) !important;
}

#manager-menu td:hover {
    background: rgba(250, 250, 250, 1) !important;
    color: rgba(30, 30, 30, 1) !important;
}

.white-hover:hover:enabled {
    background: rgba(180, 180, 180, 1) !important;
}
        
.img-icon{
    position: fixed;
    height: 10%;
    width: auto;
    left: 0;
    z-index: 99;
}

.font-075 {
    font-size: 0.75em !important;
}

.font {
    font-size: 1em !important;
}

.font2 {
    font-size: 2em !important;
}

.font3 {
    font-size: 3em !important;
}

.label {
    color: black;
    font-size: 1.5em;
}

.label-3em{
    border: none;
    float: left;
    font-size: 3em;
    font-family: impact;
    color: white;
	height: 100%;
    margin-left: 80px;
    background: rgba(0, 0, 0, 0);
}

.label-5em {
    float: left;
    font-size: 5em;
    color: rgba(0, 0, 0, 1);
    background: rgba(30, 30, 30, 1) !important;
    border: none;
    font-family: Impact;
}

.label-right {
    float: right;
}

#hidden-label {
    margin-left: 30px;
    height: 100%;
    background: rgba(0, 200, 200, 0);
    border: none;
    color: rgba(0,0,0,0);
    font-size: 1.5em;
    float:left;
}

.textarea {
    resize: none;
}

.loading {
    background: rgba(50, 50, 50, 0.7);
    color: #fff;
    text-align: center;
    grid-area: 1 / 1 / 11 / 11;
    z-index: 99;
    display: none;
}

.loading h1 {
    margin-top: 10%;
    font: 5em 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.spin {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    border-top-color: rgba(50, 200, 50, 1);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1000px) {
    #menu_control_table td {
        font-size: 0.6em !important;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1001px) {
    #menu_control_table td {
        font-size: 0.75em !important;
    }
}

@media only screen and (orientation: portrait) {
	.parent {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(3, 0.5fr) 1.5fr repeat(2, 1.25fr) repeat(3, 1.2fr) 0.4fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.div1 { grid-area: 1 / 1 / 2 / 11; }
	.div2 { grid-area: 2 / 1 / 3 / 11; }
	.div3 { grid-area: 3 / 1 / 7 / 11; }
	.background { grid-area: 3 / 1 / 7 / 11; }
	.div4 { grid-area: 10 / 1 / 11 / 11; }
	.div5 { grid-area: 7 / 1 / 8 / 7; }
	.div6 { grid-area: 8 / 1 / 10 / 7; }
	.div7 { grid-area: 7 / 7 / 10 / 11; }
    .div8 { grid-area: 3 / 3 / 7 / 9; }
    .div9 { grid-area: 4 / 4 / 4 / 9; }
    .div10 { grid-area: 4 / 2 / 6 / 10; }
    .div11 { grid-area: 1 / 1 / 11 / 11; }
    .div12 { grid-area: 4 / 2 / 8 / 10; }
    .div13 { grid-area: 4 / 3 / 6 / 9;}
    .div15 { grid-area: 4 / 1 / 7 / 11; }
    .div16 { grid-area: 4 / 1 / 7 / 11; }
    .div17 { grid-area: 4 / 1 / 7 / 11;}
    .div18 { grid-area: 4 / 2 / 7 / 10; }
    .div19 { grid-area: 4 / 2 / 7 / 10; }
    .div20 { grid-area: 4 / 1 / 6 / 11; }
    .div21 { grid-area: 4 / 1 / 8 / 11; }
    .div22 { grid-area: 4 / 1 / 6 / 11; }
    .div23 { grid-area: 4 / 2 / 6 / 10; }
    .div24 { grid-area: 3 / 1 / 8 / 11; }
    .div25 { grid-area: 4 / 3 / 9 / 9; }
    .div26 { grid-area: 4 / 4 / 5 / 9; }
    .div27 { grid-area: 4 / 3 / 9 / 9; }
    .div28 { grid-area: 4 / 3 / 6 / 9; }
    .div29 { grid-area: 4 / 1 / 6 / 11; }
    .div30 { grid-area: 4 / 4 / 4 / 9; }
    .div31 { grid-area: 4 / 4 / 4 / 9; }
    .div32 { grid-area: 4 / 2 / 7 / 10; }
    .div33 { grid-area: 4 / 4 / 5 / 9; }
    .div34 { grid-area: 4 / 4 / 7 / 9; }

    .label-3em {
        margin-left: 100px;
    }

    .img-icon {
        height: 5%;
    }

    .loading h1 {
        margin-top: 40%;
    }

    #hidden-label {
        display: none;
    }

    .grid-4 {
        width: 24vw !important;
        height: 11vh !important;
		cursor: pointer;
		font-size: 2em;
    }

    .grid-3 {
        width: 32vw !important;
        height: 15vh !important;
		cursor: pointer;
		font-size: 2em;
    }

    .grid-2 {
        width: 48vw !important;
        height: 23vh !important;
		cursor: pointer;
		font-size: 2em;
    }

    .button {
        font-size: 1.5em !important;
    }

    .div2 {
        font-size: 1.5em;
    }

    .div4 {
        font-size: 2em !important;
    }

    .div5 {
        font-size: 1.5em;
    }

    .div6 {
        font-size: 2em;
    }

    .div7 {
        font-size: 2em;
    }

    .div10 {
        font-size: 1.5em !important;
    }

    .div12 {
        font-size: 2em;
    }

    .div13 {
        font-size: 2em !important;
    }

    .div15 {
        font-size: 1.5em !important;
    }

    .div16 {
        font-size: 2em !important;
    }

    .div17 {
        font-size: 1.5em !important;
    }

    .div21 {
        font-size: 1.5em !important;
    }

    .div24 {
        font-size: 2em !important;
    }

    .font {
        font-size: 1.2em !important;
    }

    .font2 {
        font-size: 1.5em !important;
    }

    .button-page {
        font-size: 1.5em !important;
    }

    .div21 input[type="number"] {
        height: 100px;
    }

    .div21 button {
        height: 100px;
    }

    #settle_left {
        float: left;
        width: 100% !important;
        height: 40% !important;
    }

    #settle_right {
        float: left;
        width: 100% !important;
        height: 60% !important;
    }
}

@media only screen and (max-height: 400px) {
    .div28 {
        grid-area: 3 / 1 / 10 /11 !important;
    }
}