<div class="row">
	<div class="col-lg-12 text-center">
		<label>Total Transaction and Income Chart of Branch </label>
		<select id="branch" onchange="loadLineChart()">

		</select>
		<label> for this year </label>
		<select id="year" onchange="loadLineChart()">
			<option selected>2021</option>
			<option >2022</option>
			<option >2023</option>
			<option >2024</option>
			<option >2024</option>
			<option >2025</option>
		</select>
		<label> for the Month of </label>
		<select id="month" onchange="loadLineChart()">
			<option selected value="">Select Month</option>
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="03">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option>
		</select>
	   <div id="line-chart"></div>
	 </div>

	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure">
			<h3 class="box-title">Branch</h3>
			<ul class="list-inline two-part">
				<li><i class="icon-location-pin text-info"></i></li>
				<li class="text-center">
					<span class="text" id="branch_name" style="font-size: 30px">0</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure">
			<h3 class="box-title">TRANSACTIONS TODAY</h3>
			<ul class="list-inline two-part">
				<li><i class="icon-folder text-purple"></i></li>
				<li class="text-center">
					<span class="counter" id="counter_transactions_today" style="font-size: 30px">0</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure">
			<h3 class="box-title">TOTAL SALES TODAY</h3>
			<ul class="list-inline two-part">
				<li><i class="ti-wallet text-success"></i></li>
				<li class="text-center">
					<span class="counter" id="counter_total_sales_today" style="font-size: 30px">0</span>
				</li>
			</ul>
		</div>
	</div>
</div>

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure">
			<h3 class="box-title">VOID</h3>
			<ul class="list-inline two-part">
				<li><i class="ti-wallet text-danger"></i></li>
				<li class="text-center">
					<span class="counter" id="counter_void" style="font-size: 30px">0</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure; cursor: pointer;" onclick = "showCriticalItems();">
			<h3 class="box-title">CRITICAL ITEMS</h3>
			<ul class="list-inline two-part">
				<li><i class="icon-folder-alt text-danger"></i></li>
				<li class="text-center">
					<a id="criticalitems" style="cursor:pointer">
						<span class="counter" id="counter_critical_items" style="font-size: 30px">0</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6 col-sm-12 col-xs-12">
			<div class="white-box" style="background-color: azure">
				<h3 class="box-title">TOTAL TRANSACTIONS FOR THIS MONTH</h3>
				<ul class="list-inline two-part">
					<li><i class="icon-folder text-purple"></i></li>
					<li class="text-center">
						<span class="counter" id="counter_transactions" style="font-size: 30px">0</span>
					</li>
				</ul>
			</div>
		</div>

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure">
			<h3 class="box-title">TOTAL SALES FOR THIS MONTH</h3>
			<ul class="list-inline two-part">
				<li><i class="ti-wallet text-success"></i></li>
				<li class="text-center">
					<span class="counter" id="counter_total_sales" style="font-size: 30px">0</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure">
			<h3 class="box-title">Total Inventory Cost</h3>
			<ul class="list-inline two-part">
				<li><i class="ti-money text-danger"></i></li>
				<li class="text-center">
					<span class="counter" id="counter_inventory_cost" style="font-size: 30px">0</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-6 col-sm-12 col-xs-12">
		<div class="white-box" style="background-color: azure">
			<h3 class="box-title">Total Accumulated Sales</h3>
			<ul class="list-inline two-part">
				<li><i class="ti-stats-up text-success"></i></li>
				<li class="text-center">
					<span class="counter" id="counter_total_accumulated_sales" style="font-size: 30px">0</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="responsive-modal-critical" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
			Critical Items
		</div>
          <div class="modal-body">
			  <table style="font-family: Arial, Helvetica, sans-serif !important;border-collapse: collapse !important;width: 100% !important;margin-top: 10px !important;">
				  <thead>
					  <tr>
						  <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">
							  Item Name
						  </th>
						  <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">
							  Quantity
						  </th>
					  </tr>
				  </thead>
				  <tbody id = "critical_items">

				  </tbody>
			  </table>
          </div>
          <div style = "border-top: none;" class="modal-footer">
              <button type="button" class="btn btn-default waves-effect" onclick = "hideCriticalItems();">Hide</button>
              <button type="button" class="btn btn-success waves-effect" onclick = "moveToMenu();">Go to Menu</button>
          </div>
      </div>
  </div>
</div>