<table class = "w100 h100">
  <tr>
    <td colspan = "4" class = "dark-washed-green white-font font2">Enter number of items</td>
    <input type = "hidden" id = "product_id" >
  </tr>
  <tr>
    <td class ="w100" style = "height: 16.66%;" colspan = "4"><input type = "number" class = "input-text h80 black-no-hover green-font center-text border-1px placeholder right-text font2" style = "width: 98%;" id = "item-number" placeholder="1"></td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">7</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">8</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">9</td>
    <td class = "w40 white white-hover border-1px" style = "cursor: pointer;" onClick = "deleteOne('item');">DELETE</td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">4</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">5</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">6</td>
    <td class = "w40 white white-hover border-1px" style = "cursor: pointer;" onClick = "clearForm('item');">CLEAR</td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">1</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">2</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'item');">3</td>
    <td class = "w40 red white-font border-1px" style = "cursor: pointer;" onClick = "hideForm('div12');">CANCEL</td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" colspan = "2" onClick = "appendValue(this), 'item';">0</td>
    <td class = "w40 green white-font border-1px" style = "cursor: pointer;" colspan = "2" onClick = "saveNumberProduct('done');">DONE</td>
  </tr>
</table>