<input type = "hidden" id = "product-value" >
<table class = "w100" id = "orders">
  <thead class = "white">
    <tr>
      <th>
        Qty
      </th>
      <th>
        Particular
      </th>
      <th>
        Cost
      </th>
      <th>
        Amount
      </th>
      <th>
        Service
      </th>
    </tr>
  </thead>
  <tbody id = "order-table" style = "border-collapse: separate; border-spacing: 1px;">
  </tbody>
</table>