<br>
<form id = "price_override_form">
    <h1>Price Override</h1>
    <input type = "number" id = "price_override_price" placeholder = "EG: 50.00" />
    <br>
    <br>
    <button class = "bg-blue c-white">Override</button>
    <button type = "button" class = "bg-red c-white" onclick = "hidePriceOverride();">Cancel</button>
</form>