<br>
<form id = "manager_login_form">
    <h1>Manager Login</h1>
    <input type = "text" id = "username" placeholder="Username" />
    <br>
    <br>
    <input type = "password" id = "password" placeholder="Password" />
    <br>
    <br>
    <button class = "bg-blue c-white">Login</button>
    <button type = "button" class = "bg-red c-white" onclick = "cancelLogin();">Cancel</button>
</form>