<div class = "innerdiv w100 h100">
    <input type = "hidden" id = "selected_customer">
    <div class = "innerdiv w40 h100 transparent border-right-2px">
        <button class = " label-5em dark-washed-green white-font w100 center-text font2" style="height: auto; margin-top: 2%;" disabled> CUSTOMER </button>
        <input type = "text" id ="fname" class = "input-text w80 font" style = "margin-left: 8%; margin-top: 20px;" placeholder="First Name">
        <input type = "text" id ="lname" class = "input-text w80 font" style = "margin-left: 8%; margin-top: 20px;" placeholder="Last Name">
        <input type = "text" id ="address" class = "input-text w80 font" style = "margin-left: 8%; margin-top: 20px;" placeholder="Home Address">
        <input type = "date" id ="bday" class = "input-text w80 font" style = "margin-left: 8%; margin-top: 20px;" >
        <button type = "button" class = "button w80 h10 blue white-font border-2px" style = "margin-left: 8%; margin-top: 20px;" onClick = "saveCustomer();" >Save</button>
    </div>
    <div class = "innerdiv w59 h100 transparent">
        <div class = "innerdiv w100 h80">
            <table class = "w90 h80" style = "border-collapse: collapse; margin-top: 20px; margin-left: 5px;" id = "customer-table">
                <thead class = "dark-washed-green white-font" style = "padding-top: 12px; padding-bottom: 12px;">
                    <tr>
                        <th class = "border-1px" style = "padding: 8px;">Full Name</th>
                        <th class = "border-1px" style = "padding: 8px;">Address</th>
                        <th class = "border-1px" style = "padding: 8px;">Birthday</th>
                    </tr>
                </thead>
                <tbody id = "customer-table-content">
    
                </tbody>
            </table>
        </div>
        <div id = "customer-container"></div>
        <div class = "innerdiv w100 h20">
            <button type = "button" class = "button w40 h50 red white-font border-2px" style = "margin-left: 8%; margin-top: 10px;" onClick = "closeCustomerForm();">Close</button>
            <button type = "button" class = "button w40 h50 green border-2px" style = "margin-left: 8%; margin-top: 10px;" onClick = "applyCustomer();" id = "customer-apply" disabled>Apply</button>
        </div>
    </div>
</div>