<div id = "product">
</div>
<div id = "categories">
</div>
<div id = "manager">
    <button class = "bg-red c-white" onclick = "closeManager();">Hide</button>
    <button class = "bg-blue c-white" onclick = "showXRead();">X Reading</button>
    <button class = "bg-blue c-white" onclick = "showZRead();">Z Reading</button>
    <!--<button class = "bg-green c-white" disabled>Cash Fund</button>
    <button class = "bg-green c-white" disabled>Cash Withdrawal</button>-->
    <button class = "bg-blue c-white" onclick = "showSuspend();">Suspend Transaction</button>
    <button class = "bg-blue c-white">Recall Transaction</button>
    <button class = "bg-blue c-white" onclick = "showPriceOverride();">Price Override</button>
    <button class = "bg-blue c-white">Refund</button>
    <button class = "bg-blue c-white">Void Current Transaction</button>
    <button class = "bg-blue c-white">Item Void</button>
    <!--<button class = "bg-green c-white">X Reading</button>
    <button class = "bg-green c-white">Y Reading</button>
    <button class = "bg-green c-white">Z Reading</button>-->
</div>