<div class="container">
	<div class="container center-block">
		<form>
			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<p class="box-title">Reports :</p>

					<select class="form-control" name="reports" id="selectedreports"
						onchange="choiceReportBy(this.value)">
						<option selected disabled value="NULL">Select Here</option>
						<option value="sales_by_menu">Sales</option>
						<!-- <option value="sales_by_category">Sales By Category</option> -->
						<!-- <option value="sales_by_log_date">Sales By LogDate</option> -->
						<option value="sales_by_cashier_name">Sales By Cashier Name</option>
						<!-- <option value="sales_by_tender_report">Sales By Tender Report</option>
						<option value="profit_and_loss_report">Profit and Loss Report</option>
						<option value="hourly_sales_report">Hourly Sales Report</option> -->
						<option value="discount">Discount Report</option>
						<option value="item_void">Menu Void Report</option>
						<option value="transaction_void">Transaction Void Report</option>
						<option value="refunded">Refunded</option>
					</select>
					<br />

					<p class="box-title">Branch :</p>

					<select class="form-control" name="branch" id="branch" onclick="selectBranch(this.value)">

					</select>
					<br />

					<p class="box-title">Start Date :</p>

					<input type="date" class="form-control" name="start" id="start">

					<br />

					<p class="box-title">End Date :</p>

					<input type="date" class="form-control" name="end" id="end">

					<br />
				</div>

				<div id="content">
					<div class="col-md-4 col-md-offset-3" id="sales_by_menu" style="display: none;">
						<p class="box-title">Menu :</p>

						<select class="form-control" name="menu" id="menu">

						</select>
						<br />
					</div>

					<div class="col-md-4 col-md-offset-3" id="sales_by_cashier_name" style="display: none;">
						<p class="box-title">Cashier :</p>

						<select class="form-control" name="cashier" id="cashier">

						</select>
						<br />
					</div>

					<div class="col-md-4 col-md-offset-3" id="discount_report" style="display: none;">
						<p class="box-title">Discount Type :</p>

						<select class="form-control" name="discount_list" id="discount_list">

						</select>
						<br />
					</div>

				</div>

				<div class="col-md-4 col-md-offset-3">
					<button type="button" class="btn btn-block btn-primary waves-effect waves-light" id="proceed" onclick = "proceedToReports();">
						<i class="fa fa-plus m-r-5"></i> PROCEED TO REPORT
					</button>
				</div>
			</div>
		</form>
	</div>
</div>