<button class = " label-5em dark-washed-green white-font w100 h20 center-text font3" style="margin-top: 2%;" disabled> RE-PRINT </button>
<input type = "number" class = "input-text w90 h20 center-text font2" style = "margin-top: 8%; margin-bottom: 4%; margin-left: 3.5%;" placeholder = "Transaction Number" id="trn_number_reprint"> <br>
<button class = "button center-text w40 h20 red white-font border-2px" style="margin-left: 5%; margin-right: 5%; margin-top: 5%;" onclick="hideForm('div29');"> CANCEL </button>
<button class = "button center-text w40 h20 green border-2px" style="margin-left: 5%; margin-right: 5%; margin-top: 5%;" onclick = "rePrint();"> DONE </button>