<div class = "innerdiv w100 h50">
    <input type = "hidden" id = "selected_discount">
    <button class = " label-5em dark-washed-green white-font w100 center-text font2" style="height: auto; margin-top: 2%; margin-bottom: 10px;" disabled> DISCOUNTS</button>
    <table class = "w80" style = "border-collapse: collapse; margin-top: 20px; margin-left: 10%;" id = "discount-table">
        <thead class = "dark-washed-green white-font" style = "padding-top: 12px; padding-bottom: 12px;">
            <tr>
                <th class = "border-1px font" style = "padding: 8px;">Description</th>
                <th class = "border-1px font" style = "padding: 8px;">Value</th>
            </tr>
        </thead>
        <tbody id = "discount-table-content" class = "font">
    
        </tbody>
    </table>
</div>
<div class = "innerdiv w100 h10" id = "discount-container"></div>
<div class = "innerdiv w100 h20">
    <button type = "button" class = "button w20 h60 red white-font border-2px" style = "margin-left: 4%; margin-top: 20px; cursor: pointer;" onClick = "closeDiscountForm();">Close</button>
    <input type = "number" class = "input-text w40 h40" id ="manual_input" style = "font-size: 1em; margin-left: 4%; margin-top: 20px;" placeholder="Discount" oninput = "checkManualValue(this)">
    <button type = "button" id = "manual_input_button" class = "button w20 h60 gray white-font border-2px" style = "margin-left: 4%; margin-top: 20px; cursor: pointer;" onclick = "manualDiscount();" disabled>Save</button>
</div>
<div class = "innerdiv w100 h20">
    <button type = "button" class = "button w20 h60 red white-font border-2px" style = "margin-left: 4%; margin-top: 20px; cursor: pointer;" onclick = "removeDiscount('one');" id = "discount-remove" >Remove</button>
    <button type = "button" class = "button w20 h60 red white-font border-2px font" style = "margin-left: 4%; margin-top: 20px; cursor: pointer;" onclick = "removeDiscount('all');" id = "discount-remove-all" >Remove to all</button>
    <button type = "button" class = "button w20 h60 green border-2px" style = "margin-left: 4%; margin-top: 20px; cursor: pointer;" onclick = "applyDiscount('one');" id = "discount-apply" disabled>Apply</button>
    <button type = "button" class = "button w20 h60 green border-2px font" style = "margin-left: 4%; margin-top: 20px; cursor: pointer;" onclick = "applyDiscount('all');" id = "discount-apply-all" disabled>Apply to all</button>
</div>