.bg-red {
    background: #f44336;
}

.bg-yellow {
    background: #fded73;
}

.bg-black {
    background: #282A35;
}

.bg-green {
    background: #04AA6D;
}

.bg-blue {
    background: #008CBA;
}

.bg-gray {
    background: gray;
}

.bg-white {
    background: white;
}

.bg-inherit {
    background: inherit;
}

/*=============================================================================================*/

.c-white {
    color: white;
}

.c-green {
    color: #04AA6D;
}

.c-red {
    color: #f44336;
}

/*=============================================================================================*/

.border-bottom {
    border-bottom: 2px solid white;;
}