body {
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 0.5fr repeat(7, 1fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
}
    
.div1 {
    grid-area: 1 / 1 / 2 / 11;
    z-index: 5;
}

.div2 {
    grid-area: 2 / 1 / 3 / 11;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    z-index: 5;
}

.div3 {
    grid-area: 10 / 1 / 11 / 11;
    box-shadow: 0 4px 8px 4px rgb(0 0 0 / 20%), 0 6px 20px 8px rgb(0 0 0 / 19%);
    z-index: 5;
}

.div4 {
    grid-area: 3 / 1 / 10 / 6;
    overflow: hidden;
    overflow-y: scroll;
}
.div5 { grid-area: 3 / 6 / 5 / 9; }

.div6 {
    grid-area: 5 / 6 / 10 / 9;
    overflow: hidden;
    overflow-y: scroll;
}
.div7 {
    grid-area: 3 / 9/ 10 / 11;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    z-index: 3;
}

.suspend_transaction {
    display: none;
    grid-area: 4 / 4 / 8 / 8;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    text-align: center;
    z-index: 10;
}

.price_override{
    display: none;
    grid-area: 4 / 4 / 8 / 8;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    text-align: center;
    z-index: 10;
}

.manager_login{
    display: none;
    grid-area: 4 / 4 / 8 / 8;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    text-align: center;
    z-index: 10;
}

.reprint{
    display: none;
    grid-area: 4 / 4 / 8 / 8;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    text-align: center;
    z-index: 10;
}

.x_read{
    display: none;
    grid-area: 4 / 4 / 8 / 8;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    text-align: center;
    z-index: 10;
}

.z_read{
    display: none;
    grid-area: 4 / 4 / 8 / 8;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    text-align: center;
    z-index: 10;
}

.log_date_error{
    display: none;
    grid-area: 4 / 4 / 8 / 8;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 8px;
    text-align: center;
    z-index: 10;
}

.disabled_background {
    display: none;
    background: rgba(50, 50, 50, 0.5);
    grid-area: 1 / 1 / 11 / 11;
    z-index: 5;
    cursor:not-allowed;
}

.background {
    grid-area: 3 / 1 / 10 / 6;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

.div1 img {
    float: left;
    height: 100%;
    min-width: 100px;
}

.div1 .title {
    float: left;
    height: 100%;
    min-width: 200px;
    outline: none;
    border: none;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zen Antique Soft', serif;
    text-align: left;
    padding-left: 50px;
    vertical-align: middle;
}

.div1 .greetings {
    float: right;
    height: 100%;
    min-width: 200px;
    outline: none;
    border: none;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zen Antique Soft', serif;
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}

.div2 button {
    width: 15%;
    height: 100%;
    font-size: 1em;
    outline: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zen Antique Soft', serif;
    text-align: left;
    vertical-align: middle;
}

.div3 button {
    font-size: 1em;
    outline: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zen Antique Soft', serif;
}

.div3 .left {
    float: left;
    text-align: left;
}

.div3 .right {
    float: right;
    text-align: right;
    width: auto;
}

.div4 #product {
    width: 100%;
    height: 100%;
    display: none;
}

.div4 #categories {
    width: 100%;
    height: 100%;
    display: none;
}

.div4 #manager {
    width: 100%;
    height: 100%;
    display: none;
}

.div4 button {
    width: 30%;
    height: 20vh;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 2em;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    white-space: normal;
    vertical-align:middle;
    padding: 0;
}

.div4 button p {
    width: 100%;
    height: 70%;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    background: rgba(50, 50, 50, 0.3);
    color: rgba(200, 200, 200, 1);
    padding-top: 20%;
}

.div4 button p:hover {
    background: rgba(50, 50, 50, 0.5);
    color: white;
}

.div4 #manager button {
    width: 30%;
    height: 16vh;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 1.5em;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    white-space: normal;
    vertical-align:middle;
    text-align: center;
    padding: 0;
}

.div4 #manager button:hover {
    background: #fded73;
    color: black;
}

.div4 #manager button:disabled {
    cursor: not-allowed;
    background: white;
    color: gray;
}

.div5 button {
    width: 100%;
    height: 100%;
    font-size: 4em;
    outline: none;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Zen Antique Soft', serif;
    text-align: right;
}

.div6 table {
    width: 100%;
    height: auto;
}

.div6 th {
    border: 1px solid white;
    padding: 5px;
}

.div6 td {
    border: 1px solid white;
    padding: 5px;
}

.div6 tbody tr:hover {
    background: #fded73;
}

/*.div6 .left_order {
    position: fixed;
    width: 14%;
    height: 5vh;
    margin-left: 0.5%;
    text-align: center;
    font-size: 1em;
    outline: none;
    border: none;
}*/

.div6 .right_order {
    display: none;
}

.div6 .left_order:hover, .div6 .right_order:hover {
    background: black;
    color: white;
}

.div7 button {
    width: 90%;
    height: 8.5%;
    margin-left: 4%;
    margin-top: 2%;
    font-size: 1.8em;
    font-size: 1em;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    white-space: normal;
    vertical-align:middle;
    text-align: center;
    padding: 0;
}

.div7 button:hover {
    background: #282A35;
    color: white;
}

.div7 button:disabled {
    background: inherit;
    color: gray;
    border:none;
    cursor:not-allowed;
}

.suspend_transaction button {
    width: 30%;
    font-size: 1.5em;
}

.suspend_transaction button:hover {
    background: #fded73;
    color: black;
}

.price_override button {
    width: 30%;
    font-size: 1.5em;
}

.price_override button:hover {
    background: #fded73;
    color: black;
}

.manager_login button {
    width: 30%;
    font-size: 1.5em;
}

.manager_login button:hover {
    background: #fded73;
    color: black;
}

.reprint button {
    width: 30%;
    font-size: 1.5em;
}

.reprint button:hover {
    background: #fded73;
    color: black;
}

.x_read button {
    width: 30%;
    font-size: 1.5em;
}

.x_read button:hover {
    background: #fded73;
    color: black;
}

#zread_code:disabled {
    border: none;
    user-select: none;
    -moz-user-select: none;
    color: black;
}

#zread_code:disabled:hover {
    background: inherit;
}

.z_read button {
    width: 30%;
    font-size: 1.5em;
}

.z_read button:hover {
    background: #fded73;
    color: black;
}

.log_date_error h1 {
    padding: 10px;
}

.log_date_error button {
    width: 30%;
    font-size: 1.5em;
}

.log_date_error button:hover {
    background: #fded73;
    color: black;
}

button {
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:disabled {
    cursor:text;
}

input[type="number"] {
    width: 60%;
    font-size: 2em;
    text-align: right;
    -moz-appearance: textfield;
}

input[type="text"], input[type="password"] {
    width: 60%;
    font-size: 1.5em;
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
    cursor: pointer;
}

.loading {
    background: rgba(50, 50, 50, 0.7);
    color: #fff;
    text-align: center;
    grid-area: 1 / 1 / 11 / 11;
    z-index: 99;
    display: none;
}

.loading h1 {
    margin-top: 10%;
    font: 5em 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.spin {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    border-top-color: rgba(50, 200, 50, 1);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}