@media only screen and (orientation: portrait) {
    * {
        touch-action: manipulation;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr 0.5fr repeat(7, 1fr) 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
        width: 100vw;
    }

    .div4 { grid-area: 3 / 1 / 8 / 6; }
    .div5 { grid-area: 3 / 6 / 4 / 11; }
    .div6 { grid-area: 4 / 6 / 8 / 11; }
    .div7 { grid-area: 8 / 1 / 10 / 11; }

    .div1 img {
        float: left;
        height: 100%;
        min-width: 100px;
    }

    .div1 .title {
        display: none;
    }

    .div2 button {
        width: 33%;
        height: 100%;
        font-size: 2em;
    }

    .div3 button {
        width: 33%;
        height: 100%;
        font-size: 2em;
    }

    .div4 button {
        width: 46.5%;
        height: 10vh;
        margin-left: 2%;
        margin-top: 2%;
        font-size: 2em;
    }

    .div4 button p {
        background: rgba(50, 50, 50, 0.5);
        color: white;
    }

    .div4 #manager button {
        width: 30%;
        height: 13vh;
        margin-left: 2%;
        margin-top: 2%;
        font-size: 1.5em;
    }

    .div5 button {
        font-size: 6em;
    }

    .div6 table {
        width: 100%;
        height: auto;
        margin-top: 5vh;
    }

    .div6 th {
        font-size: 2em;
    }

    .div6 td {
        font-size: 2em;
    }

    .div6 .right_order {
        display:block;
        position: fixed;
        width: 40%;
        height: 5vh;
        text-align: center;
        font-size: 2em;
        margin-left: 5%;
    }

    .div7 button {
        width: 20%;
        height: 30%;
        margin-left: 4%;
        margin-top: 2%;
        font-size: 1.8em;
    }

    .div7 .special {
        width: 45%;
        height: 20%;
        margin-left: 4%;
    }

    .manager_login {
        grid-area: 4 / 1 / 6 / 11;
    }

    .suspend_transaction {
        grid-area: 4 / 1 / 6 / 11;
    }

    .price_override {
        grid-area: 4 / 1 / 6 / 11;
    }

    .reprint {
        grid-area: 4 / 1 / 6 / 11;
    }

    .x_read {
        grid-area: 4 / 1 / 6 / 11;
    }

    .z_read {
        grid-area: 4 / 1 / 6 / 11;
    }

    h1 {
        font-size: 3em;
    }

    .manager_login button {
        font-size: 2em;
        padding-top:10px;
        padding-bottom:10px;
    }

    .suspend_transaction button {
        font-size: 2em;
        padding-top:10px;
        padding-bottom:10px;
    }

    .price_override button {
        font-size: 2em;
        padding-top:10px;
        padding-bottom:10px;
    }

    .reprint button {
        font-size: 2em;
        padding-top:10px;
        padding-bottom:10px;
    }

    .x_read button {
        font-size: 2em;
        padding-top:10px;
        padding-bottom:10px;
    }

    .z_read button {
        font-size: 2em;
        padding-top:10px;
        padding-bottom:10px;
    }

    input[type="text"], input[type="password"], input[type="number"] {
        font-size: 2em;
        padding-top:10px;
        padding-bottom:10px;
    }
}