.notification-div {
    height: 100vh;
    position: fixed;
    z-index: 99;
}

.notification-close-1 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 90vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-2 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 80vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-3 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 70vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-4 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 60vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-5 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 50vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-6 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 40vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-7 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 30vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-8 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 20vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-close-9 {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: fixed;
    top: 10vh;
    background: rgba(0, 0, 0, 0);
    color: white;
}

.notification-content-1 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 90vh;
}

.notification-content-2 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 80vh;
}

.notification-content-3 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 70vh;
}

.notification-content-4 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 60vh;
}

.notification-content-5 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 50vh;
}

.notification-content-6 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 40vh;
}

.notification-content-7 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 30vh;
}

.notification-content-8 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 20vh;
}

.notification-content-9 {
    min-width: 250px !important; 
    min-height: 50px !important;
    font-size: 1.5em;
    border: none;
    outline: none;
    position: fixed;
    top: 10vh;
}

.success {
    background: rgba(100, 250, 100, 1);
    border-left: 20px solid green;
}

.error {
    background: rgba(250, 100, 100, 1);
    color: rgba(250, 250, 250, 1);
    border-left: 20px solid red;
}

.warning {
    background: rgba(250, 250, 100, 1);
    border-left: 20px solid yellow;
}

.default {
    background: rgba(100, 100, 250, 1);
    color: rgba(250, 250, 250, 1);
    border-left: 20px solid blue;
}

@media only screen and (orientation: portrait) {

    .notification-content-1 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-2 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-3 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-4 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-5 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-6 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-7 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-8 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .notification-content-9 {
        min-width: 300px !important; 
        min-height: 100px !important;
        font-size: 2em;
    }

    .success {
        border-left: 30px solid green;
    }
    
    .error {
        border-left: 30px solid red;
    }
    
    .warning {
        border-left: 30px solid yellow;
    }

    .default {
        border-left: 30px solid blue;
    }
}