<div class = "innerdiv w100 h80 transparent">
    <button class = " label-5em dark-washed-green white-font w100 center-text font2" style="height: auto; margin-top: 2%; margin-bottom: 10px;" disabled>SPECIAL REQUEST</button>

    <select id = "special_requst_combo" class = "h13 w80 font" style = "margin-bottom: 5%;" onchange = "selectSpecialRequest(this);">
        <option value = "NULL">Select Special Request</option>
    </select>

    <textarea id = "specialrequest-text" oninput = "checkTextbox();" class = "textarea w80 h60 font" placeholder="Enter Special Request"></textarea>
</div>
<div class = "innerdiv w100 h20 transparent">
    <button type = "button" class = "button w37 red white-font border-2px" style = "height: auto; margin-left: 8%; margin-top: 20px;" onClick = "CloseSpecialRequest();">Close</button>
    <button type = "button" class = "button w37 green border-2px" style = "height: auto; margin-left: 8%; margin-top: 20px;" onClick = "applyRequest();" id = "specialrequest-apply" disabled>Apply</button>
</div>
