<br>
<form id = "x_read_form">
    <h1>X-Read</h1>
    <button class = "bg-blue c-white">Print</button>
    <button type = "button" class = "bg-red c-white" onclick = "hideXRead();">Cancel</button>
</form>