<br>
<form id = "suspend_transaction_form">
    <h1>Suspend Transaction</h1>
    <input type = "number" id = "suspend_transaction_number" placeholder = "EG: 000001" />
    <br>
    <br>
    <button class = "bg-blue c-white">Suspend</button>
    <button type = "button" class = "bg-red c-white" onclick = "hideSuspendTransaction();">Cancel</button>
</form>