<br>
<form id = "z_read_form">
    <h1>Z-Read</h1>
    <button class = "bg-inherit" id = "zread_code" disabled>TsTcD</button>
    <br>
    <br>
    <input type = "text" id = "zread_input" placeholder = "Confirmation Code" readonly/>
    <br>
    <br>
    <button class = "bg-blue c-white">Print</button>
    <button type = "button" class = "bg-red c-white" onclick = "hideZRead();">Cancel</button>
</form>