<button class = "bg-inherit c-white" id = "transaction_number">TRN#: NA</button>
<button class = "bg-inherit c-white" id = "order_number">TRN#: NA</button>
<button class = "bg-inherit c-white" id = "branch_code"></button>
<!--<button class = "bg-inherit c-white">GUEST:000004</button>-->