<table class ="w100 h100">
  <tr>
    <td colspan = "4">Enter number of Guest</td>
  </tr>
  <tr>
    <td class ="w100" style = "height: 16.66%;" colspan = "4"><input type = "number" class = "input-text h80 center-text border-1px font2" style = "width: 98%;" id = "guest-number" placeholder="1"></td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">7</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">8</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">9</td>
    <td class = "w40 white white-hover border-1px" style = "cursor: pointer;" onClick = "deleteOne('guest');">DELETE</td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">4</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">5</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">6</td>
    <td class = "w40 white white-hover border-1px" style = "cursor: pointer;" onClick = "clearForm('guest');">CLEAR</td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">1</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">2</td>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" onClick = "appendValue(this, 'guest');">3</td>
    <td class = "w40 white white-hover border-1px" style = "cursor: pointer;" onClick = "saveNumber('1');">CANCEL</td>
  </tr>
  <tr>
    <td class = "w20 white white-hover border-1px" style = "cursor: pointer;" colspan = "2" onClick = "appendValue(this, 'guest');">0</td>
    <td class = "w40 white white-hover border-1px" style = "cursor: pointer;" colspan = "2" onClick = "saveNumber('0');">DONE</td>
  </tr>
</table>