<button class = "left bg-inherit c-inherit">Terminal# 001</button>
<button class = "right bg-inherit" id = "log_time">11:06:23 AM</button>
<button class = "right bg-inherit" id = "log_date">10-29-2021</button>