<div class = "row">
  <div class = "table-responsive" id = "transactions-div" style = "display:none;">
    <div class="col-md-2">
      <a class = "btn btn-block btn-primary waves-effect waves-light" onclick = "printThis('transactions')">Print</a>
    </div>
    <div id = "transactions-print">
      <table id = "transactions-table" style="font-family: Arial, Helvetica, sans-serif !important;border-collapse: collapse !important;width: 100% !important;margin-top: 10px !important;">
        <thead>
          <tr>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Transaction</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Product</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cost</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Quantity</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cashier</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Date</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Total Amount</th>
          </tr>
        </thead>
        <tbody id = "transactions"></tbody>
      </table>
    </div>
  </div>
  <div class = "table-responsive" id = "cashier-div" style = "display:none;">
    <div class="col-md-2">
      <a class = "btn btn-block btn-primary waves-effect waves-light" onclick = "printThis('cashier')">Print</a>
    </div>
    <div id = "cashier-print">
      <table id = "cashier-table" style="font-family: Arial, Helvetica, sans-serif !important;border-collapse: collapse !important;width: 100% !important;margin-top: 10px !important;">
        <thead>
          <tr>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Transaction</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Product</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cost</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Quantity</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cashier</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Date</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Total Amount</th>
          </tr>
        </thead>
        <tbody id = "cashier"></tbody>
      </table>
    </div>
  </div>
  <div class = "table-responsive" id = "discount-div" style = "display:none;">
    <div class="col-md-2">
      <a class = "btn btn-block btn-primary waves-effect waves-light" onclick = "printThis('discount')">Print</a>
    </div>
    <div id = "discount-print">
      <table id = "discount-table" style="font-family: Arial, Helvetica, sans-serif !important;border-collapse: collapse !important;width: 100% !important;margin-top: 10px !important;">
        <thead>
          <tr>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Transaction</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Product</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cost</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Quantity</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cashier</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Date</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Total Amount</th>
          </tr>
        </thead>
        <tbody id = "discount"></tbody>
      </table>
    </div>
  </div>
  <div class = "table-responsive" id = "item_void-div" style = "display:none;">
    <div class="col-md-2">
      <a class = "btn btn-block btn-primary waves-effect waves-light" onclick = "printThis('item_void')">Print</a>
    </div>
    <div id = "item_void-print">
      <table id = "item_void-table" style="font-family: Arial, Helvetica, sans-serif !important;border-collapse: collapse !important;width: 100% !important;margin-top: 10px !important;">
        <thead>
          <tr>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Transaction</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Product</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cost</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Quantity</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cashier</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Date</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Total Amount</th>
          </tr>
        </thead>
        <tbody id = "item_void"></tbody>
      </table>
    </div>
  </div>
  <div class = "table-responsive" id = "transaction_void-div" style = "display:none;">
    <div class="col-md-2">
      <a class = "btn btn-block btn-primary waves-effect waves-light" onclick = "printThis('transaction_void')">Print</a>
    </div>
    <div id = "transaction_void-print">
      <table id = "transaction_void-table" style="font-family: Arial, Helvetica, sans-serif !important;border-collapse: collapse !important;width: 100% !important;margin-top: 10px !important;">
        <thead>
          <tr>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Transaction</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Product</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cost</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Quantity</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cashier</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Date</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Total Amount</th>
          </tr>
        </thead>
        <tbody id = "transaction_void"></tbody>
      </table>
    </div>
  </div>
  <div class = "table-responsive" id = "refunded-div" style = "display:none;">
    <div class="col-md-2">
      <a class = "btn btn-block btn-primary waves-effect waves-light" onclick = "printThis('refunded')">Print</a>
    </div>
    <div id = "refunded-print">
      <table id = "refunded-table" style="font-family: Arial, Helvetica, sans-serif !important;border-collapse: collapse !important;width: 100% !important;margin-top: 10px !important;">
        <thead>
          <tr>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Transaction</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Product</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cost</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Quantity</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Cashier</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Date</th>
            <th style = "border: 1px solid #ddd !important;padding: 8px !important;padding-top: 12px !important;padding-bottom: 12px !important;text-align: left !important;background-color: #04AA6D !important;color: white !important;">Total Amount</th>
          </tr>
        </thead>
        <tbody id = "refunded"></tbody>
      </table>
    </div>
  </div>
</div>